/* Reset */
.flip-clock-wrapper * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.flip-clock-wrapper a {
    cursor: pointer;
    text-decoration: none;
    color: #ccc;
}

.flip-clock-wrapper a:hover {
    color: #fff;
}

.flip-clock-wrapper ul {
    list-style: none
}

.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
    content: " ";
    display: table;
}

.flip-clock-wrapper.clearfix:after {
    clear: both;
}

.flip-clock-wrapper.clearfix {
    *zoom: 1;
}

/* Main */

.flip-clock-wrapper {
    min-height: 100%;
    font: normal 11px "Helvetica Neue", Helvetica, sans-serif;
    -webkit-user-select: none;
}

.flip-clock-meridium {
	background: none;
	box-shadow: 0 0 0 !important;
	font-size: 36px !important;
	color: rgb(49, 51, 51);
	bottom: 10px;
}


.flip-clock-wrapper {
    text-align: center;
    position: relative;
    /*width: 100%;*/
    display: inline-block !important;
    margin: 1em;
}

/* Skeleton */

.flip-clock-wrapper ul {
    position: relative;
    float: left;
    margin-right: 2px;
    width: 120px;
    height: 241px;
    font-size: 220px;
    font-weight: bold;
    line-height: 120%;
    border-radius: 12px;
    -webkit-box-shadow: 0px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 5px 0px rgba(0, 0, 0, 1);
    box-shadow:         0px 5px 0px rgba(0, 0, 0, 1);
}

.flip-clock-wrapper ul li {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}

.flip-clock-wrapper ul li:first-child {
    z-index: 2;
}

.flip-clock-wrapper ul li a {
    display: block;
    height: 100%;
    perspective: 500px;
    -webkit-perspective: 500px;
    margin: 0 !important;
    overflow: visible !important;
}

.flip-clock-wrapper ul li a div {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.flip-clock-wrapper ul li a div .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.flip-clock-wrapper ul li a div.down .shadow {
    border-radius: 0 0 12px 12px;
}
.flip-clock-wrapper ul li a .down .shadow,
.flip-clock-wrapper ul li.flip-clock-active .down .shadow,
.flip-clock-wrapper ul li.flip-clock-before .down .shadow {
    background-color: rgba(0,0,0,0.2) !important;
    z-index: 2;
}

.flip-clock-wrapper ul li a div.up {
    transform-origin: 50% 100%;
    top: 0;
}

.flip-clock-wrapper ul li a div.up:after {
  content: "";
  position:absolute;
  top: 98.9%;
  left:0;
  z-index: 5;
    width: 100%;
  height: 1px;
  background-color: #000;
}

.flip-clock-wrapper ul li a div.down {
    transform-origin: 50% 0%;
    bottom: 0;
}

.flip-clock-wrapper ul li a div div.inn {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 200%;
    color: #FFF;
    /*text-shadow: 0 1px 2px #000;*/
    text-align: center;
    background-color: #333;
    border-radius: 12px;
    font-size: 220px;
}

.flip-clock-wrapper ul li a div.up div.inn {
    top: 0;
}

.flip-clock-wrapper ul li a div.down div.inn {
    bottom: 0;
}

/* PLAY */

.flip-clock-wrapper ul.play li.flip-clock-before {
    z-index: 3;
}

.flip-clock-wrapper ul.play li.flip-clock-active {
    animation: asd .5s .5s linear both;
    z-index: 2;
}

.flip-clock-divider {
	float: left;
	display: inline-block;
	position: relative;
	width: 15px;
	height: 100px;
}

.flip-clock-divider:first-child { width: 0; }

.flip-clock-dot { 
	display: none; /* Block */
	background: rgb(50, 52, 52);
	width: 10px;
	height: 10px;
	position: absolute;
	border-radius: 1000px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.flip-clock-divider .flip-clock-label {
	position: absolute;
	top: 4.5em;
	color: black;
	text-shadow: none;
    font-size: 60px;
    color: #262625;
}
.flip-clock-divider.days .flip-clock-label { right: -172px; }
.flip-clock-divider.hours .flip-clock-label { right: -188px; }
.flip-clock-divider.minutes .flip-clock-label { right: -212px; }
.flip-clock-divider.seconds .flip-clock-label { right: -212px; }


.flip-clock-dot.top { 
	top: 30px;
	left: 5px;
}

.flip-clock-dot.bottom { 
	bottom: 30px;
	left: 5px;
}

@keyframes asd {
    0% {
        z-index: 2;
    }
    5% {
        z-index: 4;
    }
    100% {
        z-index: 4;
    }
}

.flip-clock-wrapper ul.play li.flip-clock-active .down {
    z-index: 2;
    animation: turn .5s .5s linear both;
}

@keyframes turn {
    0% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.flip-clock-wrapper ul.play li.flip-clock-before .up {
    z-index: 2;
    animation: turn2 .5s linear both;
}

@keyframes turn2 {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(-90deg);
    }
}

.flip-clock-wrapper ul li.flip-clock-active { z-index: 3; }

/* SHADOW */

.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, .1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    animation: show .5s linear both;
}

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, .1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
    animation: hide .5s .3s linear both;
}

/*DOWN*/

.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, .1)));
    background: linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
    animation: show .5s linear both;
}

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, .1)));
    background: linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
    animation: hide .5s .3s linear both;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}