
input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}
input[type=text]: focus, textarea: focus {
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 1) !important;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 1) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1) !important;
}